@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --plano-de-fundo-home: url('../assets/Design\ sem\ nome.png');
    --plano-de-fundo-sobremim: url('../assets/paisagem3.png');
    --plano-de-fundo-curriculo: url('../assets/paisagem2.png');
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /*height: 100vh; 100% de view port high*/
    box-sizing: border-box;
    /*não deixa o elemento filho sair de dentro do pai*/
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 0.5% 0% 0.5% 15%;
    background-color: azure;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0.5%;
    color: var(--cor-terciaria);
    text-decoration: none;
    border: 2px none var(--cor-terciaria);
    border-radius: 8px;
}

.cabecalho__menu__link:hover {
    background-color: var(--cor-hover);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-image: var(--plano-de-fundo-home);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 84px;
}

.apresentacao__curriculo {
    padding: 5% 15%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-image: var(--plano-de-fundo-curriculo);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 84px;
}

.apresentacao__about {
    padding: 5% 15%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: var(--plano-de-fundo-sobremim);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 84px;
}

.about__texto__reforçado {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__paragrafo {
    text-align: justify;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    font-size: 1.5rem;
    border-radius: 8px;
    width: 50%;
    text-align: center;
    padding: 3% 1%;
    text-decoration: none;
    color: #f6f6f6;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 30%;
    position: fixed;
    top: 17%;
    right: 10%;
    height: 50%;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 5%;
    }

    .cabecalho__menu {
        justify-content: center;
        gap: 2.5%;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
        align-items: center;
    }

    .apresentacao__about {
        flex-direction: column-reverse;
        padding: 5%;
        align-items: center;
    }

    .apresentacao__curriculo {
        flex-direction: column-reverse;
        padding: 5%;
        align-items: center;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__imagem {
        position: relative;
        left: 1%;
        width: 80%;
        height: 50%;
    }
}